<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.CloudAppSubjectMapper">
    <resultMap id="cloudAppSubjectMap" type="cn.com.hiveview.entity.module.portal.CloudAppSubjectList">
        <id column="subject_id" property="pubId" />
        <result column="subject_name" property="pubName" />
        <result column="subject_pic" property="pubImg" />
        <result column="category_id" property="categoryId" />
        <result column="subject_desc" property="descs" />
    </resultMap>
    <sql id="baseColumns">
        <![CDATA[
	    	subject_id,subject_name,subject_pic,subject_desc,subject_bg_img,img_size,subject_size,category_id,
	    	seq,is_effective,create_time,DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') As update_time
	    ]]>
    </sql>
    <sql id="findPageWhere">
        <where>
            <if test="subjectId != null">
                AND subject_id = #{subjectId}
            </if>
            <if test="subjectName != null">
                AND subject_name like CONCAT('%','${subjectName}','%' )
            </if>
            <if test="subjectDesc != null">
                AND subject_desc like CONCAT('%','${subjectDesc}','%' )
            </if>
            <if test="imgSize != null">
                AND img_size like CONCAT('%','${imgSize}','%' )
            </if>
            <if test="subjectSize != null">
                AND subject_size = #{subjectSize}
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="seq != null">
                AND seq = #{seq}
            </if>
            <if test="isEffective != null">
                AND is_effective = #{isEffective}
            </if>
        </where>
    </sql>
    <select id="getPageList" resultMap="cloudAppSubjectMap"
            parameterType="cn.com.hiveview.launcherapi.module.portal.condition.CloudAppSubjectCondition">
        SELECT
        <include refid="baseColumns" />
        FROM
        cloud_app_subject
        <include refid="findPageWhere"/>
        ORDER BY create_time desc
        LIMIT #{ pageIndex }, #{ pageSize }
    </select>
    <select id="getPageCount" resultType="Integer" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.CloudAppSubjectCondition">
        SELECT
        count(*)
        FROM
        cloud_app_subject
        <include refid="findPageWhere" />
    </select>
</mapper>