<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.EntranceAreaMapper">
    <resultMap id="entranceAreaMap" type="cn.com.hiveview.entity.module.portal.EntranceAreaList">
        <result column="city_id" property="cityId" />
    </resultMap>
    <select id="getCityByAreaId" resultMap="entranceAreaMap"
            parameterType="cn.com.hiveview.launcherapi.module.portal.condition.EntranceAreaCondition">
        SELECT
        distinct area_code as city_id
        FROM
        portal_launcher_templet_area
        WHERE
        1=1
        <if test="DiffCityType == null or DiffCityType !=5">
            AND type != 5
        </if>
        <if test="areaId != null and areaId !=0">
            AND templet_id = #{areaId}
        </if>
    </select>
    <insert id="add" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.EntranceAreaCondition">
        insert into portal_launcher_templet_area (templet_id,area_code,type) values (#{areaId},#{cityId},#{controllerType})
    </insert>
    <update id="update" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.EntranceAreaCondition">
        UPDATE portal_launcher_templet_area
        <set>
            <if test="cityId != null and cityId != ''">
                area_code = #{cityId},
            </if>
            <if test="controllerType != null">
                type = #{controllerType},
            </if>
        </set>
        WHERE templet_id=#{areaId}
    </update>
    <delete id="deleteCitys" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.EntranceAreaCondition">
        DELETE FROM
        portal_launcher_templet_area where templet_id=#{areaId}
    </delete>
    <select id="ifCount" resultType="Integer"
            parameterType="cn.com.hiveview.launcherapi.module.portal.condition.EntranceAreaCondition">
        SELECT count(1)
        FROM
        portal_launcher_templet_area
        WHERE
        1=1
        <if test="controllerType !=null">
            AND type =#{controllerType}
        </if>
        <if test="cityId != null">
            AND area_code = #{cityId}
        </if>
    </select>
</mapper>