<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.LogoLicenseManageListMapper">
    <resultMap id="logoLicenseManageMap" type="cn.com.hiveview.entity.module.portal.LogoLicenseManageListVo">
        <id column="logo_id" property="logoId" />
        <result column="logo_name" property="logoName" />
        <result column="logo_img" property="logoImg" />
        <result column="is_online" property="isOnline" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="baseColumns">
        <![CDATA[logo_id,logo_name,logo_img,is_online,create_time,update_time]]>
    </sql>

    <select id="getList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.LogoLicenseManageListCondition" resultMap="logoLicenseManageMap" >
        SELECT
        <include refid="baseColumns" />
        FROM
        portal_logo_manage
        <where>
            <if test="logoId != null">
                AND logo_id = #{logoId}
            </if>
            <if test="logoName != null and logoName != ''">
                AND logo_name LIKE CONCAT ('%',#{logoName},'%')
            </if>
            <if test="isOnline != null">
                AND is_online = #{isOnline}
            </if>
        </where>
        ORDER BY logo_id DESC
        <if test="pageIndex!=null and pageSize != null">
        LIMIT #{ pageIndex }, #{ pageSize }
        </if>
    </select>

    <select id="getLogo" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.LogoLicenseManageListCondition" resultMap="logoLicenseManageMap" >
        SELECT
        <include refid="baseColumns" />
        FROM
        portal_logo_manage
        <where>
            <if test="logoId != null">
                AND logo_id = #{logoId}
            </if>
            <if test="logoName != null and logoName != ''">
                AND logo_name LIKE CONCAT ('%',#{logoName},'%')
            </if>
            <if test="isOnline != null">
                AND is_online = #{isOnline}
            </if>
        </where>
    </select>

    <select id="getCount" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.LogoLicenseManageListCondition" resultType="Integer" >
        SELECT
        count(logo_id)
        FROM
        portal_logo_manage
        <where>
            <if test="logoId != null">
                AND logo_id = #{logoId}
            </if>
            <if test="logoName != null and logoName != ''">
                AND logo_name LIKE CONCAT ('%',#{logoName},'%')
            </if>
            <if test="isOnline != null">
                AND is_online = #{isOnline}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.LogoLicenseManageListCondition">
        INSERT INTO
        portal_logo_manage
        (logo_name,logo_img,is_online,create_time,update_time)
        VALUES
        (#{logoName},#{logoImg},#{isOnline},NOW(),NOW())
    </insert>

    <delete id="delete" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.LogoLicenseManageListCondition">
        DELETE FROM
        portal_logo_manage where logo_id = #{logoId}
    </delete>

    <update id="update" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.LogoLicenseManageListCondition">
        UPDATE
        portal_logo_manage
        <set>
            <if test="logoName !=null and logoName!=''">
                logo_name=#{logoName},
            </if>
            <if test="logoImg != null and logoImg != ''">
                logo_img=#{logoImg},
            </if>
            <if test="isOnline !=null">
                is_online=#{isOnline},
            </if>
            update_time = NOW()
        </set>
        WHERE logo_id = #{logoId}
    </update>

    <select id="getLogoList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.LogoLicenseManageListCondition" resultMap="logoLicenseManageMap" >
        SELECT
        <include refid="baseColumns" />
        FROM
        portal_logo_manage
        <where>
            <if test="logoId != null">
                AND logo_id = #{logoId}
            </if>
            <if test="logoName != null and logoName != ''">
                AND logo_name LIKE CONCAT ('%',#{logoName},'%')
            </if>
            <if test="isOnline != null">
                AND is_online = #{isOnline}
            </if>
        </where>

    </select>

    <select id="getLogoInfoApi" resultMap="logoLicenseManageMap">
        SELECT logo_img
        FROM portal_logo_manage plm LEFT JOIN portal_launcher_templet plt ON plm.logo_id = plt.logo_id
        WHERE plt.id = #{templetId} AND plm.is_online = 1
    </select>

</mapper>