<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.PbGoodsMapper">
    <resultMap id="pbGoodsMap" type="cn.com.hiveview.entity.module.portal.PbsGoodsList">
        <id column="id" property="id" />
        <result column="goods_code" property="goodsCode" />
        <result column="goods_name" property="goodsName" />
        <result column="is_effective" property="isEffective" />
        <result column="img_url" property="imgUrl" />
    </resultMap>
    <sql id="baseColumns">
        <![CDATA[
      id,goods_code,goods_name,is_effective]]>
    </sql>
    <sql id="findPageWhere">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="goodsName != null and goodsName != ''">
                AND goods_name LIKE CONCAT ('%',#{goodsName},'%')
            </if>
            <if test="isEffective != null">
                AND is_effective=#{isEffective}
            </if>
        </where>
    </sql>
    <select id="getPageList" resultMap="pbGoodsMap"
            parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PbGoodsCondition">
        SELECT p.id,p.goods_code,p.goods_name,p.is_effective,m.img_url FROM pbs_goods p LEFT JOIN pbs_goods_image m ON p.id = m.goods_id WHERE m.TYPE =1
        <if test="goodsName != null and goodsName != ''">
            AND p.goods_name LIKE CONCAT ('%',#{goodsName},'%')
        </if>
        <if test="isEffective != null">
            AND p.is_effective=#{isEffective}
        </if>
        ORDER BY p.create_time desc
        <if test="pageIndex >= 0 and pageSize >= 1">
            LIMIT #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="getPageCount" resultType="Integer"
            parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PbGoodsCondition">
        SELECT COUNT(p.id) FROM pbs_goods p LEFT JOIN pbs_goods_image m ON p.id = m.goods_id WHERE m.TYPE =1
        <if test="goodsName != null and goodsName != ''">
            AND p.goods_name LIKE CONCAT ('%',#{goodsName},'%')
        </if>
        <if test="isEffective != null">
            AND p.is_effective=#{isEffective}
        </if>
    </select>
</mapper>