<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.PortalTabGroupMapper">

    <sql id="selPortalTabGroup">
        select id,belong_tab_id AS belongTabId,belong_group_id AS belongGroupId,group_type AS groupType,
			  content_type AS contentType,apk_bag_name AS apkBagName,chn_id AS chnId,chn_type AS chnType,
			  hot_id AS hotId,is_show AS isShow,group_name AS groupName,group_title AS groupTitle,seq_is_top AS seqIsTop,
              seq,is_effective AS isEffective,col,row,width,height,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') As createTime,
              DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') As updateTime,up_and_down AS upAndDown,group_background AS groupBackground
        FROM portal_tab_group
    </sql>
    <sql id="selWhere">
        <where>
            <if test="belongTabId != null">
                 belong_tab_id =#{belongTabId}
            </if>
            <if test="belongGroupId != null">
            AND belong_group_id =#{belongGroupId}
            </if>
            <if test="groupType != null">
            AND group_type =#{groupType}
            </if>
            <if test="upAndDown!=null">
               AND up_and_down=#{upAndDown}
            </if>
        </where>



    </sql>
    <!--分页查询-->
    <select id="getPageList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition" resultType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition">
        <include refid="selPortalTabGroup"/>
        <include refid="selWhere"/>
        ORDER BY seq DESC
        <if test="pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <!--统计-->
    <select id="getCount" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition" resultType="integer">
        SELECT count(id) FROM portal_tab_group <include refid="selWhere"/>
    </select>
    <select id="getMaxSeq" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition" resultType="integer">
        SELECT MAX(seq) FROM portal_tab_group WHERE belong_tab_id =#{belongTabId}
    </select>
    <select id="getMinSeq" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition" resultType="integer">
        SELECT MIN(seq) FROM portal_tab_group WHERE belong_tab_id =#{belongTabId}
    </select>
    <!--最大最小，移动顺序-->
    <select id="getMinContent" resultType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition">
        SELECT id,seq from portal_tab_group WHERE ( seq &lt; #{seq}
        OR seq=(SELECT MIN(seq) FROM portal_tab_group WHERE  belong_tab_id=#{belongTabId}) ) AND belong_tab_id=#{belongTabId}
        ORDER BY seq DESC limit 1
    </select>
    <select id="getMaxContent" resultType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition">
        SELECT id,seq from portal_tab_group WHERE ( seq &gt; #{seq}
        OR seq=(SELECT MAX(seq) FROM portal_tab_group WHERE belong_tab_id=#{belongTabId}) ) AND belong_tab_id=#{belongTabId}
        ORDER BY seq ASC limit 1
    </select>

    <!--增删改-->
    <insert id="add" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition">
        INSERT INTO portal_tab_group(belong_tab_id,belong_group_id,group_type,
              content_type,apk_bag_name,chn_id,chn_type,hot_id,group_name,group_title,seq_is_top,seq,
              col,row,width,height,create_time,update_time,up_and_down,group_background)
              VALUES (#{belongTabId},#{belongGroupId},#{groupType},
              #{contentType},#{apkBagName},#{chnId},#{chnType},#{hotId},
              #{groupName},#{groupTitle},#{seqIsTop},#{seq},
              #{col},#{row},#{width},#{height},NOW(),#{updateTime},#{upAndDown},#{groupBackground})
    </insert>
    <delete id="delete" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition">
        DELETE FROM portal_tab_group
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
            <if test="belongTabId!=null">
               AND belong_tab_id=#{belongTabId}
            </if>
            <if test="belongGroupId != null">
                AND belong_group_id =#{belongGroupId}
            </if>
            <if test="groupType != null">
                AND group_type =#{groupType}
            </if>
            <if test="id==null and belongTabId==null and belongGroupId==null and groupType==null">
                AND FALSE
            </if>
        </where>
    </delete>
    <update id="update" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition">
       UPDATE portal_tab_group
       <set>
           <if test="contentType!=null">
               content_type=#{contentType},
           </if>
           <if test="apkBagName!=null and apkBagName!=''">
               apk_bag_name=#{apkBagName},
           </if>
           <if test="chnId!=null">
                chn_id=#{chnId},
           </if>
           <if test="chnType!=null">
               chn_type=#{chnType},
           </if>
           <if test="hotId!=null">
               hot_id=#{hotId},
           </if>
           <if test="isShow!=null">
               is_show = #{isShow},
           </if>
           <if test="groupName!=null and groupName!=''">
               group_name=#{groupName},
           </if>
           <if test="groupTitle!=null and groupTitle!=''">
               group_title=#{groupTitle},
           </if>
           <if test="seq!=null">
               seq = #{seq},
           </if>
           <if test="isEffective!=null">
               is_effective = #{isEffective},
           </if>
           <if test="col!=null">
               col=#{col},
           </if>
           <if test="row!=null">
               row=#{row},
           </if>
           <if test="width!=null">
               width=#{width},
           </if>
           <if test="height!=null">
               height=#{height},
           </if>
           <if test="upAndDown !=null">
               up_and_down=#{upAndDown},
           </if>
           <if test="groupBackground != null">
               group_background = #{groupBackground},
           </if>
              update_time = NOW()

       </set>
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
            <if test="belongTabId!=null">
                AND belong_tab_id=#{belongTabId}
            </if>
            <if test="belongGroupId!=null">
                AND belong_group_id=#{belongGroupId}
            </if>
            <if test="id==null and belongTabId==null and belongGroupId==null">
                AND FALSE
            </if>
        </where>

    </update>
    <select id="getList" resultMap="portalTabPageEntityMap"
            parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition">
       select tg.belong_tab_id as tabId,t.tab_back_pic as backgroud,#{page} as page,#{rows} as size,tg.belong_group_id as groupId,tg.group_name as groupName,tg.group_type as groupType,tg.is_show as isShow,tg.group_title as groupTitle,tg.content_type as contentType,tg.apk_bag_name as apkBagName,tg.chn_id as chnId,tg.chn_type as chnType,tg.hot_id as hotId,tg.col as col,tg.row as row,tg.width as width,tg.height as height,1 as templetId,tg.up_and_down as upAndDown,tg.group_background as groupBackground from portal_tab_group tg inner join portal_tab t on tg.belong_tab_id = t.id
        <where>
        tg.is_effective =1 and t.is_effective =1
        <if test="belongTabId != null">
            AND t.id = #{belongTabId}
        </if>
        </where>
        order by tg.seq desc
        <if test="pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <resultMap id="portalTabPageEntityMap" type="cn.com.hiveview.entity.module.portal.PortalTabPageEntity">
        <result column="tabId" property="tabId"/>
        <result column="backgroud" property="backgroud"/>
        <result column="page" property="page"/>
        <result column="size" property="size"/>
        <collection property="list" ofType="cn.com.hiveview.entity.module.portal.PortalGroupEntity">
            <result column="groupId" property="groupId"/>
            <result column="groupName" property="groupName"/>
            <result column="isShow" property="isShow"/>
            <result column="groupTitle" property="groupTitle"/>
            <result column="groupType" property="groupType"/>
            <result column="contentType" property="contentType"/>
            <result column="apkBagName" property="apkBagName"/>
            <result column="chnId" property="chnId"/>
            <result column="chnType" property="chnType"/>
            <result column="hotId" property="hotId"/>
            <result column="templetId" property="templetId"/>
            <result column="col" property="col"/>
            <result column="row" property="row"/>
            <result column="width" property="width"/>
            <result column="height" property="height"/>
            <result column="upAndDown" property="upAndDown"/>
            <result column="groupBackground" property="groupBackground"/>
            <collection property="list" column="{groupType=groupType,groupId=groupId}" select="cn.com.hiveview.launcherapi.module.portal.mapper.PortalTabGroupMapper.getRecommendList"/>
        </collection>
    </resultMap>
    <resultMap id="customRecomContentMap" type="cn.com.hiveview.entity.module.portal.PortalRecommendEntity">
            <result column="content_id" property="contentId" />
            <result column="content_type" property="contentType" />
            <result column="content_name" property="contentName" />
            <result column="content_subtitle" property="contentSubtitle" />
            <result column="content_img" property="contentImg" />
            <result column="content_outcrop_img" property="contentOutcropImg" />
            <result column="content_big_pic" property="contentBigPic" />
            <result column="templete_id" property="templeteId" />
            <result column="layout_id" property="layoutId" />
            <result column="chn_id" property="chnId" />
            <result column="chn_type" property="chnType" />
            <result column="hot_id" property="hotId" />
            <result column="hot_type" property="hotType" />
            <result column="apk_bag_name" property="apkBagName" />
            <result column="layout_x" property="layoutX" />
            <result column="layout_y" property="layoutY" />
            <result column="layout_w" property="layoutW" />
            <result column="layout_h" property="layoutH" />
            <result column="isFocusable" property="isFocusable" />
            <result column="action" property="action" />
            <result column="video_id" property="videoId" />
            <result column="apk_version_code" property="apkVersionCode" />
            <result column="apk_down_url" property="apkDownUrl" />
            <result column="col" property="col" />
            <result column="row" property="row" />
            <result column="spec_sn" property="specSn" />
            <result column="video_url" property="videoUrl" />
            <result column="install_style" property="installStyle" />
            <result column="app_type" property="appType" />
            <result column="apk" property="apk" />
    </resultMap>
    <select id="getRecommendList" resultMap="customRecomContentMap"
            parameterType="cn.com.hiveview.entity.module.portal.PortalGroupEntity">
        SELECT
        pcrc.id,pcrc.content_id,pcrc.content_type,pcrc.content_name,pcrc.content_subtitle,pcrc.content_img,1 as templete_id,pcrc.layout_id,
        pcrc.chn_id,pcrc.chn_type,pcrc.hot_id,pcrc.hot_type,pcrc.apk_bag_name,
        pcrl.layout_x,pcrl.layout_y,pcrl.layout_w,pcrl.layout_h,pcrc.content_big_pic,pcrc.video_id,
        pcrc.apk_version_code,pcrc.apk_down_url,pcrc.action,pcrl.col,pcrl.row,pcrc.spec_sn,pcrc.video_url,pcrc.install_style,pcrc.app_type,pcrc.apk,
        pcrc.content_outcrop_img,
        (CASE  WHEN   pcrc.content_id = -1 THEN 0 ELSE 1 END ) AS isFocusable
        FROM portal_custom_recom_content pcrc
        LEFT JOIN `portal_custom_recom_templete` pcrt ON pcrc.`recom_templet_id` = pcrt.`templete_id`
        LEFT JOIN `portal_custom_recom_layout` pcrl ON pcrt.father_id = pcrl.`templete_id` AND pcrc.`layout_id` = pcrl.`layout_id`
        WHERE  pcrt.`is_effective` = 1 AND pcrt.`templete_leve` = 2
        <if test="groupType == 1">
        and pcrc.`recom_templet_id` = #{groupId}
        </if>
        <if test="groupType != 1">
            and pcrc.`recom_templet_id` =0
        </if>
        ORDER BY pcrl.position_seq
    </select>
    <!---->
    <select id="getTabListByGroupId" resultType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition"
            parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabGroupCondition">
       SELECT belong_tab_id as belongTabId,belong_group_id as belongGroupId FROM portal_tab_group
        <where>
            <if test="groupType != null">
                and group_type = #{groupType}
            </if>
            <if test="belongGroupId != null">
                and belong_group_id = #{belongGroupId}
            </if>
            <if test="belongTabId != null">
                and belong_tab_id = #{belongTabId}
            </if>
            <if test="isEffective != null">
                and is_effective = #{isEffective}
            </if>
        </where>
    </select>
</mapper>