<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.PortalBeanCurdImgListMapper">
    <resultMap id="portalBeanCurdImgMap" type="cn.com.hiveview.entity.module.portal.PortalBeanCurdImgListVo">
        <id column="img_id" property="imgId"/>
        <result column="entrance_id" property="entranceId"/>
        <result column="entrance_title" property="entranceTitle"/>
        <result column="entrance_subtitle" property="entranceSubtitle"/>
        <result column="seq" property="seq"/>
        <result column="is_effective" property="isEffective"/>
        <result column="entrance_img" property="entranceImg"/>
    </resultMap>

    <select id="getPageList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdImgListCondition" resultMap="portalBeanCurdImgMap">
        SELECT
          img_id,entrance_id,entrance_title,entrance_subtitle,seq,is_effective,entrance_img
        FROM portal_bean_curd_img
          <where>
              <if test="entranceId != null">
                  AND entrance_id = #{entranceId}
              </if>
              <if test="entranceTitle != null and entranceTitle != ''">
                  AND  entrance_title  LIKE CONCAT('%',#{entranceTitle},'%')
              </if>
              <if test="imgId != null">
                  AND img_id = #{imgId}
              </if>
          </where>
            <if test="pageIndex != null and pageSize != null">
              limit #{pageIndex},#{pageSize}
            </if>
    </select>

    <select id="getCount" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdImgListCondition" resultType="Integer">
        SELECT
          count(img_id)
        FROM
          portal_bean_curd_img
        <where>
            <if test="entranceId != null">
                AND entrance_id = #{entranceId}
            </if>
            <if test="entranceTitle != null and entranceTitle != ''">
                AND  entrance_title  LIKE CONCAT('%',#{entranceTitle},'%')
            </if>
            <if test="imgId != null">
                AND img_id = #{imgId}
            </if>
        </where>
    </select>

    <update id="update" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdImgListCondition">
        UPDATE
        portal_bean_curd_img
          <set>
            <if test="seq != null">
                 seq = #{seq},
            </if>
            <if test="entranceTitle != null and entranceTitle != ''">
                 entrance_title = #{entranceTitle},
            </if>
            <if test="entranceSubtitle != null and entranceSubtitle != ''">
                  entrance_subtitle = #{entranceSubtitle},
            </if>
            <if test="isEffective != null">
                is_effective = #{isEffective},
            </if>
            <if test="entranceImg != null and entranceImg != ''">
                entrance_img = #{entranceImg},
            </if>
          </set>
        WHERE
          <if test="imgId != null">
               img_id = #{imgId}
          </if>
    </update>

    <delete id="delete" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdImgListCondition">
        DELETE FROM
        portal_bean_curd_img
        <where>
            <if test="imgId != null">
                AND  img_id = #{imgId}
            </if>
        </where>
    </delete>

    <select id="getImgList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdImgListCondition" resultMap="portalBeanCurdImgMap">
        SELECT
        img_id,entrance_title,entrance_subtitle,seq,is_effective,entrance_img
        FROM
        portal_bean_curd_img
        <where>
            <if test="imgId != null">
                AND  img_id = #{imgId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdImgListCondition">
        INSERT  INTO
        portal_bean_curd_img
        (entrance_title,entrance_subtitle,seq,is_effective,entrance_img,entrance_id)
        VALUES
        (#{entranceTitle},#{entranceSubtitle},#{seq},#{isEffective},#{entranceImg},#{entranceId})
    </insert>
</mapper>