<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.PortalBeanCurdEditListMapper">
    <resultMap id="portalBeanCurdEditListMap" type="cn.com.hiveview.entity.module.portal.PortalBeanCurdEditListVo">
        <id column="entrance_id" property="entranceId"/>
        <result column="entrance_name" property="entranceName"/>
        <result column="entrance_type" property="entranceType"/>
        <result column="seq" property="seq"/>
        <result column="is_effective" property="isEffeCtice"/>
        <result column="entrance_templete_id" property="entranceTempleteId"/>
        <result column="customize_app_id" property="customizeAppId"/>
        <result column="customize_app_name" property="custommizeAppName"/>
        <result column="entrance_app_id" property="entranceAppId"/>
        <result column="entrance_app_name" property="entranceAppName"/>
        <result column="entrance_app_str" property="entranceAppStr"/>
        <result column="entrance_app_version" property="entranceAppVersion"/>
        <result column="entrance_app_install" property="entranceAppInstall"/>
        <result column="entrance_app_url" property="entranceAppUrl"/>
        <result column="curd_id" property="curdID"/>
        <result column="curd_name" property="curdName"/>
        <result column="id" property="id"/>
    </resultMap>
    <sql id="selectEdit">
        <![CDATA[entrance_id,entrance_name,is_effective,entrance_type,seq,entrance_templete_id,customize_app_id,customize_app_name,entrance_app_id,entrance_app_name,entrance_app_str,entrance_app_version,entrance_app_install,entrance_app_url]]>
    </sql>
    <select id="getPageList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition" resultMap="portalBeanCurdEditListMap">
        SELECT
        P.entrance_templete_id,P.entrance_name,P.is_effective,P.entrance_type,B.curd_id,P.entrance_id,P.seq,B.curd_name
        FROM
          portal_bean_curd_edit AS P
        RIGHT JOIN
        portal_bean_curd AS B
        ON
        P.entrance_templete_id = B.curd_id
        <where>
            1=1
            <if test="curdID != null">
                AND  P.entrance_templete_id = #{curdID}
            </if>
            <if test="entranceName != null and entranceName != ''">
                AND P.entrance_name LIKE CONCAT ('%',#{entranceName},'%')
            </if>
            <if test="entranceId != null">
            AND P.entrance_id = #{entranceId}
            </if>
        </where>
        GROUP  BY
        P.seq
        <if test="pageIndex != null and pageSize != null">
            LIMIT #{ pageIndex }, #{ pageSize }
        </if>
    </select>

    <select id="getCount" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition" resultType="Integer">
        SELECT
          count(entrance_templete_id)
        FROM
          portal_bean_curd_edit
        <where>
            1=1
            <if test="curdID != null">
                AND   entrance_templete_id = #{curdID}
            </if>
            <if test="entranceName != null and entranceName != ''">
                AND entrance_name LIKE CONCAT ('%',#{entranceName},'%')
            </if>
            <if test="entranceId != null">
                AND entrance_id = #{entranceId}
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition">
        DELETE  FROM
          portal_bean_curd_edit
          <where>
              <if test="entranceId != null">
                  AND entrance_id = #{entranceId}
              </if>
          </where>
    </delete>


    <insert id="save" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition">
        INSERT  INTO
          portal_bean_curd_edit
          (entrance_app_id,entrance_app_name,entrance_app_str,entrance_app_install,is_effective,entrance_type,entrance_name,customize_app_id,customize_app_name,entrance_app_version)
          VALUES
          (#{entranceAppId},#{entranceAppName},#{entranceAppStr},#{entranceAppInstall},#{isEffeCtice},#{entranceType},#{entranceName},#{customizeAppId},#{custommizeAppName},#{entranceAppVersion})
    </insert>

    <update id="update" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition">
        UPDATE
          portal_bean_curd_edit
          <set>
            <if test="entranceAppId != null">
                entrance_app_id = #{entranceAppId},
            </if>
              <if test="entranceAppName != null and entranceAppName != ''">
                  entrance_app_name =#{entranceAppName},
              </if>
              <if test="entranceAppStr != null and entranceAppStr != ''">
                  entrance_app_str = #{entranceAppStr},
              </if>
              <if test="entranceAppInstall != null and entranceAppInstall != ''">
                  entrance_app_install = #{entranceAppInstall},
              </if>
              <if test="isEffeCtice != null">
                  is_effective = #{isEffeCtice},
              </if>
              <if test="entranceType != null">
                  entrance_type = #{entranceType},
              </if>
              <if test="entranceName != null and entranceName != ''">
                  entrance_name = #{entranceName},
              </if>
              <if test="customizeAppId != null">
                  customize_app_id =#{customizeAppId},
              </if>
              <if test="custommizeAppName != null and custommizeAppName != ''">
                  customize_app_name = #{custommizeAppName},
              </if>
              <if test="entranceAppVersion != null and entranceAppVersion != ''">
                  entrance_app_version = #{entranceAppVersion},
              </if>
          </set>
        <where>
            <if test="entranceId != null">
                AND  entrance_id = #{entranceId}
            </if>
        </where>
    </update>

    <select id="getList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition" resultMap="portalBeanCurdEditListMap">
        SELECT
          <include refid="selectEdit"/>
        FROM
        portal_bean_curd_edit
        <where>
            1 =1
            <if test="entranceName != null and entranceName != ''">
                AND  entrance_name LIKE  CONCAT('%',#{entranceName},'%')
            </if>
            <if test="isEffeCtice != null">
                AND is_effective = #{isEffeCtice}
            </if>
            <if test="entranceId != null">
                AND entrance_id = #{entranceId}
            </if>
        </where>
        <if test="pageIndex != null and pageSize != null">
            LIMIT #{ pageIndex }, #{ pageSize }
        </if>
    </select>

    <select id="getEditList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition" resultMap="portalBeanCurdEditListMap">
        SELECT
        <include refid="selectEdit"/>
        FROM
        portal_bean_curd_edit
        <where>
            <if test="entranceId != null">
                AND entrance_id = #{entranceId}
            </if>
            <if test="isEffeCtice != null">
                AND  is_effective = #{isEffeCtice}
            </if>
        </where>
    </select>
    <select id="getCountList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition" resultType="Integer">
        SELECT
        count(entrance_id)
        FROM
        portal_bean_curd_edit
        <where>
            1 =1
            <if test="entranceName != null and entranceName != ''">
                AND  entrance_name LIKE  CONCAT('%',#{entranceName},'%')
            </if>
            <if test="entranceId != null">
                AND entrance_id = #{entranceId}
            </if>
            <if test="isEffeCtice != null">
                AND is_effective = #{isEffeCtice}
            </if>
        </where>
    </select>

    <select id="getEdit" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition" resultMap="portalBeanCurdEditListMap">
        SELECT
        <include refid="selectEdit"/>
        FROM
        portal_bean_curd_edit
        WHERE
        1 = 1
        <if test="entranceId != null">
            AND entrance_id = #{entranceId}
        </if>
        <if test="entranceAppId">
            AND  entrance_app_id  = #{entranceAppId}
        </if>
    </select>
    
    <select id="getEditCount" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition" resultType="Integer">
        SELECT
        count(entrance_id)
        FROM
        portal_bean_curd_edit
        <where>
            1=1
            <if test="entranceId != null">
                AND entrance_id = #{entranceId}
            </if>
            <if test="entranceName != null and entranceName != ''">
                AND  entrance_name = #{entranceName}
            </if>
            <if test="isEffeCtice != null">
                AND is_effective = #{isEffeCtice}
            </if>
            <if test="customizeAppId != null">
                AND  customize_app_id = #{customizeAppId}
            </if>
            <if test="entranceType != null">
                AND  entrance_type = #{entranceType}
            </if>
            <if test="custommizeAppName != null and custommizeAppName != ''">
                AND  customize_app_name = #{custommizeAppName}
            </if>
            <if test="entranceAppStr != null and entranceAppStr != ''">
                AND  entrance_app_str = #{entranceAppStr}
            </if>
            <if test="entranceAppVersion != null and entranceAppVersion != ''">
                AND  entrance_app_version = #{entranceAppVersion}
            </if>
            <if test="entranceAppInstall != null and entranceAppInstall != ''">
                AND  entrance_app_install = #{entranceAppInstall}
            </if>
            <if test="entranceAppId != null">
                AND entrance_app_id = #{entranceAppId}
            </if>
            <if test="entranceAppName != null and entranceAppName != ''">
                AND  entrance_app_name = #{entranceAppName}
            </if>
        </where>
    </select>

    <update id="updateTime" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalBeanCurdEditListCondition" >
        UPDATE
        portal_bean_curd_edit
        <set>
            <if test="entranceAppName != null and entranceAppName != ''">
                entrance_app_name =#{entranceAppName},
            </if>
            <if test="entranceAppStr != null and entranceAppStr != ''">
                entrance_app_str = #{entranceAppStr},
            </if>
            <if test="entranceAppVersion != null and entranceAppVersion != ''">
                entrance_app_version = #{entranceAppVersion},
            </if>
            <if test="custommizeAppName != null and custommizeAppName != ''">
                customize_app_name = #{custommizeAppName},
            </if>
        </set>
        <where>
            <if test="customizeAppId != null">
                AND customize_app_id = #{customizeAppId}
            </if>
        </where>
    </update>

</mapper>