<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.PortalCustomRecomContentMapper">
    <resultMap id="customRecomContentMap" type="cn.com.hiveview.entity.module.portal.PortalCustomRecomContentVo">
        <id column="id" property="id" />
        <result column="content_id" property="contentId" />
        <result column="content_type" property="contentType" />
        <result column="content_name" property="contentName" />
        <result column="content_subtitle" property="contentSubtitle" />
        <result column="content_img" property="contentImg" />
        <result column="content_outcrop_img" property="contentOutcropImg" />
        <result column="content_big_pic" property="contentBigPic" />
        <result column="category_id" property="categoryId" />
        <result column="seq" property="seq" />
        <result column="is_effective" property="isEffective" />
        <result column="templete_id" property="templeteId" />
        <result column="layout_id" property="layoutId" />
        <result column="chn_id" property="chnId" />
        <result column="chn_type" property="chnType" />
        <result column="hot_id" property="hotId" />
        <result column="hot_type" property="hotType" />
        <result column="aqy_is_vip" property="aqyIsVip" />
        <result column="apk_bag_name" property="apkBagName" />
        <result column="layout_x" property="layoutX" />
        <result column="layout_y" property="layoutY" />
        <result column="layout_w" property="layoutW" />
        <result column="layout_h" property="layoutH" />
        <result column="position_seq" property="positionSeq" />
        <result column="recom_templet_id" property="recomTempletId" />
        <result column="custom_content_img_sel" property="customContentImgSel" />
        <result column="video_templet_id" property="videoTempletId" />
        <result column="video_id" property="videoId" />
        <result column="video_url" property="videoUrl" />
        <result column="apk_version_code" property="apkVersionCode" />
        <result column="apk_down_url" property="apkDownUrl" />
        <result column="spec_sn" property="specSn" />
        <result column="apk" property="apk" />
        <result column="is_play" property="isPlay" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="install_style" property="installStyle" />
        <result column="app_type" property="appType" />
    </resultMap>

    <select id="getList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition" resultMap="customRecomContentMap">
        select * from portal_custom_recom_content
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="recomTempletId != null">
                AND recom_templet_id = #{recomTempletId}
            </if>
            <if test="layoutId != null">
                AND layout_id = #{layoutId}
            </if>
            <if test="contentId != null">
                AND content_id = #{contentId}
            </if>
            <if test="contentType != null">
                AND content_type = #{contentType}
            </if>
            <if test="contentName != null and contentName!= ''">
                AND content_name like CONCAT('%','${contentName}','%' )
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="isEffective != null">
                AND is_effective = #{isEffective}
            </if>
        </where>
    </select>
    <select id="getPageList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition" resultMap="customRecomContentMap">
        select * from portal_custom_recom_content limit #{pageIndex}, #{pageSize}
    </select>
    <select id="getCount" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition" resultType="Integer" >
        SELECT
        count(*)
        FROM
        portal_custom_recom_content
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="recomTempletId != null">
                AND recom_templet_id = #{recomTempletId}
            </if>
            <if test="layoutId != null">
                AND layout_id = #{layoutId}
            </if>
            <if test="contentId != null">
                AND content_id = #{contentId}
            </if>
            <if test="contentType != null">
                AND content_type = #{contentType}
            </if>
            <if test="contentName != null">
                AND content_name like CONCAT('%','${contentName}','%' )
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="isEffective != null">
                AND is_effective = #{isEffective}
            </if><if test="recomTempletId != null">
                AND recom_templet_id = #{recomTempletId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition">
        INSERT INTO  portal_custom_recom_content
        (content_id,content_type,content_name,content_subtitle,content_img,content_outcrop_img,content_big_pic,category_id,is_effective,
        templete_id,layout_id,chn_id,chn_type,hot_id,hot_type,aqy_is_vip,apk_bag_name,recom_templet_id,create_time,update_time,custom_content_img_sel,spec_sn,apk_version_code,apk_down_url,video_url,video_id,action,apk,is_play,install_style,app_type)
        VALUES
        (#{contentId},#{contentType},#{contentName},#{contentSubtitle},#{contentImg},#{contentOutcropImg},#{contentBigPic},#{categoryId},
        #{isEffective},#{templeteId},#{layoutId},#{chnId},#{chnType},#{hotId},#{hotType},#{aqyIsVip},#{apkBagName},#{recomTempletId},#{createTime},#{updateTime},#{customContentImgSel},#{specSn},#{apkVersionCode},#{apkDownUrl},#{videoUrl},#{videoId},#{action},#{apk},#{isPlay},#{installStyle},#{appType})
    </insert>

    <delete id="delete" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition">
			DELETE FROM
				portal_custom_recom_content
        	<where>
                <if test="recomTempletId != null">
                    AND recom_templet_id = #{recomTempletId}
                </if>
                <if test="id != null">
                    AND id = #{id}
                </if>
                <if test="recomTempletId == null and id == null">
                    AND id = -1;
                </if>
            </where>

    </delete>

    <update id="update" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition">
        UPDATE
        portal_custom_recom_content
        <set>
            <if test="contentId != null ">
                content_id = #{contentId},
            </if>
            <if test="contentType != null ">
                content_type = #{contentType},
            </if>
            <if test="contentName != null and contentName != '' ">
                content_name = #{contentName},
            </if>
            <if test="contentSubtitle != null and contentSubtitle != '' ">
                content_subtitle = #{contentSubtitle},
            </if>
            <if test="contentImg != null and contentImg != '' ">
                content_img = #{contentImg},
            </if>
            <if test="contentOutcropImg != null and contentOutcropImg != '' ">
                content_outcrop_img = #{contentOutcropImg},
            </if>
            <if test="contentBigPic != null and contentBigPic != '' ">
                content_big_pic = #{contentBigPic},
            </if>
            <if test="contentBigPic == null or contentBigPic == '' ">
                content_big_pic = NULL ,
            </if>
            <if test="categoryId != null ">
                category_id = #{categoryId},
            </if>
            <if test="isEffective != null">
                is_effective = #{isEffective},
            </if>
            <if test="customContentImgSel != null">
                custom_content_img_sel = #{customContentImgSel},
            </if>
            <if test="specSn != null">
                spec_sn = #{specSn},
            </if>
            <if test="apkVersionCode != null">
                apk_version_code = #{apkVersionCode},
            </if>
            <if test="apkDownUrl != null">
                apk_down_url = #{apkDownUrl},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl},
            </if>
            <if test="videoId != null">
                video_id = #{videoId},
            </if>
            <if test="action != null">
                action = #{action},
            </if>
            <if test="apk != null">
                apk = #{apk},
            </if>
            <if test="isPlay != null">
                is_play = #{isPlay},
            </if>
            update_time = #{updateTime}
        </set>
        WHERE
        layout_id=#{layoutId,jdbcType=INTEGER}
        AND recom_templet_id=#{recomTempletId,jdbcType=INTEGER}
    </update>

    <update id="updateByLayoutIdAndTempleteId" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition">
        UPDATE
        portal_custom_recom_content
        <set>
            <if test="layoutId">
                layout_id = #{layoutId,jdbcType=VARCHAR},
            </if>
            <if test="contentId != null ">
                content_id = #{contentId},
            </if>
            <if test="contentType != null ">
                content_type = #{contentType},
            </if>
            <if test="contentName != null and contentName != '' ">
                content_name = #{contentName},
            </if>
            <if test="contentSubtitle != null and contentSubtitle != '' ">
                content_subtitle = #{contentSubtitle},
            </if>
            <if test="contentImg != null and contentImg != '' ">
                content_img = #{contentImg},
            </if>
            <if test="contentOutcropImg != null and contentOutcropImg != '' ">
                content_outcrop_img = #{contentOutcropImg},
            </if>
            <if test="contentBigPic != null and contentBigPic != '' ">
                content_big_pic = #{contentBigPic},
            </if>
            <if test="categoryId != null ">
                category_id = #{categoryId},
            </if>
            <if test="isEffective != null">
                is_effective = #{isEffective},
            </if>
            <if test="customContentImgSel != null">
                custom_content_img_sel = #{customContentImgSel},
            </if>
        </set>
        WHERE layout_id=#{layoutId,jdbcType=INTEGER} AND recom_templet_id=#{recomTempletId,jdbcType=INTEGER}
    </update>

    <select id="getContentLayoutListByContentId" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition" resultMap="customRecomContentMap">
        SELECT pcrc.id,pcrc.layout_id,pcrc.recom_templet_id,pcrl.layout_w, pcrl.layout_h ,pcrl.position_seq,pcrc.is_play FROM portal_custom_recom_content pcrc
        inner JOIN portal_custom_recom_layout pcrl ON pcrl.layout_id = pcrc.layout_id
        WHERE 1=1
        <if test="contentType !=13">
           and pcrc.content_type = #{contentType}
           and  pcrc.content_id = #{contentId}
        </if>
        <if test="contentType ==13">
            and pcrc.content_type =1
            and  pcrc.video_id = #{contentId}
        </if>
        <!--GROUP BY pcrc.recom_templet_id-->
    </select>

    <select id="getContentListByTempletId" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition" resultMap="customRecomContentMap">
        select pcrc.id,pcrc.content_id,pcrc.layout_id,pcrc.recom_templet_id,pcrl.layout_w,pcrl.layout_h,pcrc.content_type
        from portal_custom_recom_content pcrc
        LEFT JOIN portal_custom_recom_layout pcrl ON pcrl.layout_id = pcrc.layout_id
        WHERE pcrc.recom_templet_id = #{recomTempletId} AND pcrl.layout_w = #{layoutW} AND pcrl.layout_h = #{layoutH} AND pcrl.position_seq >= #{positionSeq}
        ORDER BY pcrl.position_seq
    </select>

    <update id="updateContentById" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition">
        UPDATE
        portal_custom_recom_content
        SET layout_id = #{layoutId}
        WHERE id = #{id}
    </update>

    <resultMap id="customRecomContentApiMap" type="cn.com.hiveview.entity.module.portal.PortalCustomRecomContentApiVo">
        <result column="layout_team" property="layoutTeam" />
        <result column="layout_team_type" property="layoutTeamType" />
        <collection property="layoutList"  ofType="cn.com.hiveview.entity.module.portal.PortalCustomRecomContentVo">
            <result column="content_id" property="contentId" />
            <result column="content_type" property="contentType" />
            <result column="content_name" property="contentName" />
            <result column="content_subtitle" property="contentSubtitle" />
            <result column="content_img" property="contentImg" />
            <result column="content_outcrop_img" property="contentOutcropImg" />
            <result column="content_big_pic" property="contentBigPic" />
            <result column="category_id" property="categoryId" />
            <result column="templete_id" property="templeteId" />
            <result column="layout_id" property="layoutId" />
            <result column="chn_id" property="chnId" />
            <result column="chn_type" property="chnType" />
            <result column="hot_id" property="hotId" />
            <result column="hot_type" property="hotType" />
            <result column="aqy_is_vip" property="aqyIsVip" />
            <result column="apk_bag_name" property="apkBagName" />
            <result column="layout_x" property="layoutX" />
            <result column="layout_y" property="layoutY" />
            <result column="layout_w" property="layoutW" />
            <result column="layout_h" property="layoutH" />
            <result column="position_seq" property="positionSeq" />
            <result column="recom_templet_id" property="recomTempletId" />
            <!--(case  when   pcrc.custom_content_img_sel = 2 then content_outcrop_img else NULL end ) as content_outcrop_img,-->
        </collection>
    </resultMap>

    <select id="getPortalCustomRecomContentAPIList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition" resultMap="customRecomContentApiMap">
         SELECT
        pcrc.id,pcrc.content_id,pcrc.content_type,pcrc.content_name,pcrc.content_subtitle,pcrc.content_img,pcrc.category_id,pcrc.templete_id,pcrc.layout_id,
        pcrc.chn_id,pcrc.chn_type,pcrc.hot_id,pcrc.hot_type,pcrc.aqy_is_vip,pcrc.apk_bag_name,pcrc.recom_templet_id,pcrl.position_seq,
        pcrl.`layout_team`,pcrl.`layout_team_type`,pcrl.layout_x,pcrl.layout_y,pcrl.layout_w,pcrl.layout_h,pcrc.content_big_pic,
        (CASE  WHEN   pcrc.custom_content_img_sel = 2 THEN pcrc.content_outcrop_img ELSE NULL END ) AS content_outcrop_img
        FROM portal_custom_recom_content pcrc
        LEFT JOIN `portal_custom_recom_templete` pcrt ON pcrc.`recom_templet_id` = pcrt.`templete_id`
        LEFT JOIN `portal_custom_recom_layout` pcrl ON pcrt.father_id = pcrl.`templete_id` AND pcrc.`layout_id` = pcrl.`layout_id`
        WHERE pcrc.`recom_templet_id` = #{recomTempletId} AND pcrt.`is_effective` = 1 AND pcrt.`templete_leve` = 2
        AND  pcrl.layout_team BETWEEN  #{layoutTeamIndex} AND #{layoutTeamSize}
        ORDER BY pcrl.position_seq
    </select>
    <insert id="saveCopyContent" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition">
        INSERT INTO  portal_custom_recom_content
        (content_id,content_type,content_name,content_subtitle,content_img,content_outcrop_img,content_big_pic,category_id,is_effective,
        templete_id,layout_id,chn_id,chn_type,hot_id,hot_type,aqy_is_vip,apk_bag_name,recom_templet_id,create_time,update_time,custom_content_img_sel,spec_sn,apk_version_code,apk_down_url,video_url,video_id,action,apk,is_play)
        VALUES
        (#{contentId},#{contentType},#{contentName},#{contentSubtitle},#{contentImg},#{contentOutcropImg},#{contentBigPic},#{categoryId},
        #{isEffective},#{templeteId},#{layoutId},#{chnId},#{chnType},#{hotId},#{hotType},#{aqyIsVip},#{apkBagName},#{recomTempletId},#{createTime},#{updateTime},#{customContentImgSel},#{specSn},#{apkVersionCode},#{apkDownUrl},#{videoUrl},#{videoId},#{action},#{apk},#{isPlay})
    </insert>
    <select id="getVideoCount" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition" resultType="Integer">
            SELECT COUNT(is_play)
            FROM portal_custom_recom_content
            WHERE is_play = 1 AND recom_templet_id = #{recomTempletId} LIMIT 1

    </select>
    <update id="updateVersion" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition">
        UPDATE
        portal_custom_recom_content
        <set>
            <if test="apkVersionCode != null">
                apk_version_code = #{apkVersionCode},
            </if>
            <if test="apkDownUrl != null">
                apk_down_url = #{apkDownUrl},
            </if>
            <if test="action != null">
                action = #{action},
            </if>
            <if test="installStyle != null">
                install_style = #{installStyle},
            </if>
            <if test="appType != null">
                app_type = #{appType},
            </if>
            <if test="apk != null">
                apk = #{apk},
            </if>
            update_time = #{updateTime}
        </set>
        WHERE content_id=#{contentId} AND content_type=#{contentType}
    </update>

    <update id="updateBackUpVersion" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalCustomRecomContentCondition">
        UPDATE
        portal_custom_recom_backups_content
        <set>
            <if test="apkVersionCode != null">
                apk_version_code = #{apkVersionCode},
            </if>
            <if test="apkDownUrl != null">
                apk_down_url = #{apkDownUrl},
            </if>
            <if test="action != null">
                action = #{action},
            </if>
            <if test="installStyle != null">
                install_style = #{installStyle},
            </if>
            <if test="appType != null">
                app_type = #{appType},
            </if>
            <if test="apk != null">
                apk = #{apk},
            </if>
            update_time = #{updateTime}
        </set>
        WHERE content_id=#{contentId} AND content_type=#{contentType}
    </update>
</mapper>