<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.PortalTabMapper">

    <sql id="selPortalTab">
        SELECT id,tab_name AS tabName,tab_title AS tabTitle,seq_is_top AS seqIsTop,
            seq,is_effective AS isEffective,tip,tab_back_pic AS tabBackPic,tab_icon as tabIcon,
            DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') As createTime,
            DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') As updateTime FROM portal_tab
    </sql>
    <sql id="selWhere">
        <where>
            <if test="id!=null">
                AND  id = #{id}
            </if>
            <if test="tabName!=null and tabName!=''">
                AND tab_name LIKE CONCAT ('%',#{tabName},'%')
            </if>
            <if test="isEffective!=null">
                AND is_effective = #{isEffective}
            </if>
        </where>
    </sql>
    <!--分页查询-->
    <select id="getPageList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabCondition" resultType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabCondition">
        <include refid="selPortalTab"/>
        <include refid="selWhere"/>
        ORDER BY create_time DESC
        <if test="pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <!--单一查询-->
    <select id="getOne" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabCondition" resultType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabCondition">
        <include refid="selPortalTab"/>
        WHERE id=#{id}
    </select>
    <!--统计-->
    <select id="getCount" resultType="integer" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabCondition">
        SELECT count(id) FROM portal_tab
        <include refid="selWhere"/>
    </select>
    <select id="getMaxSeq" resultType="integer">
        SELECT max(seq) FROM portal_tab
    </select>

    <!--增删改-->
    <insert id="add" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabCondition" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO portal_tab(tab_name,tab_title,seq_is_top,seq,is_effective,tip,tab_back_pic,tab_icon,create_time,update_time)
              VALUES (#{tabName},#{tabTitle},#{seqIsTop},#{seq},0,#{tip},#{tabBackPic},#{tabIcon},#{createTime},#{updateTime})
        <selectKey resultType="Integer" order="AFTER"
                   keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <delete id="delete" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabCondition">
        DELETE FROM portal_tab WHERE id=#{id}
    </delete>
    <update id="update" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.PortalTabCondition">
        UPDATE portal_tab
          <set>
            <if test="tabName!=null and tabName!=''">
                tab_name = #{tabName},
            </if>
            <if test="tabTitle!=null and tabTitle!=''">
                tab_title = #{tabTitle},
            </if>
            <if test="seqIsTop!=null">
                seq_is_top =#{seqIsTop},
            </if>
              <if test="seq!=null">
                  seq = #{seq},
              </if>
              <if test="isEffective!=null">
                  is_effective = #{isEffective},
              </if>
              <if test="tip!=null and tip!=''">
                  tip = #{tip},
              </if>
              <if test="createTime!=null">
                  create_time = #{createTime},
              </if>
              <if test="tabBackPic!=null">
                  tab_back_Pic = #{tabBackPic},
              </if>
              <if test="tabIcon!=null">
                  tab_icon = #{tabIcon},
              </if>
                  update_time = now()
          </set>
        WHERE id=#{id}
    </update>


</mapper>