<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hiveview.launcherapi.module.portal.mapper.ProgramMapper">
	<resultMap id="programMap" type="cn.com.hiveview.entity.module.portal.MergeVideoDataVo">
		<result column="video_id" property="videoId" />
		<result column="belong_album_id" property="belongAlbumId" />
		<result column="album_name" property="albumName" />
		<result column="video_name" property="videoName" />
		<result column="episode_total" property="episodeTotal" />
		<result column="episode_updated" property="episodeUpdated" />
		<result column="seq" property="seq" />
		<result column="focus" property="focus" />
		<result column="cp_name" property="cpName" />
		<result column="defination" property="defination" />
		<result column="is_effective" property="isEffective" />
		<result column="c_time" property="cTime" />
		<result column="u_time" property="uTime" />
		<result column="operate_time" property="operateTime" />
		<result column="chn_id" property="chnId" />
		<result column="c_name" property="cName" />
		<result column="status" property="status" />
		<result column="down_time" property="downTime" />
		<result column="pre_m3u8" property="preM3u8" />
		<result column="aqy_id" property="aqyId" />
		<result column="ep_vid" property="epVid" />
		<result column="aqy_video_id" property="aqyVideoId" />
		<result column="jq_video_id" property="jqVideoId" />
		<result column="hkdb_video_id" property="hkdbVideoId" />
		<result column="third_video_id" property="thirdVideoId" />
		<result column="year" property="year" />
		<result column="aqy_is_effective" property="aqyIsEffective" />
		<result column="jq_is_effective" property="jqIsEffective" />
		<result column="hkdb_is_effective" property="hkdbIsEffective" />
		<result column="third_is_effective" property="thirdIsEffective" />
		<result column="duration" property="duration" />
		<result column="phase" property="phase" />
		<result column="video_pic" property="videoPic" />
		<result column="ep_order" property="epOrder" />
		<result column="ep_len" property="epLen" />
		<result column="ep_type" property="epType" />
		<result column="s_type" property="sType" />
		<result column="ep_isTvod" property="epIsTvod" />
		<result column="ep_isVip" property="epIsVip" />
		<result column="is_tvod" property="isTvod" />
		<result column="ep_isPkg" property="epIsPkg" />
		<result column="is_vip" property="isVip" />
		<result column="is_coupon" property="isCoupon" />
		<result column="is_pkg" property="isPkg" />
		<result column="ep_isCoupon" property="epIsCoupon" />
		<result column="ep_orgPrc" property="epOrgPrc" />
		<result column="ep_validTime" property="epValidTime" />
		<result column="drm" property="drm" />
		<result column="streams" property="streams" />
		<result column="sourceTypes" property="sourceTypes" />
		<result column="flag" property="flag" />
		<result column="video_desc" property="videoDesc" />
	</resultMap>
	<select id="getPageList" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.MergeVideoData" resultMap="programMap" >
		select distinct v.*,a.album_id,a.album_name,video_desc from new_merge_video_data v left join new_merge_album_data a on v.belong_album_id = a.album_id left join new_merge_videosource_data s on s.belong_video_id = v.video_id
		WHERE
				v.is_effective =1
        		<if test="videoName != null">
				  AND v.video_name like CONCAT('%','${videoName}','%' )
			   </if>
			   <if test="belongAlbumId != null">
				  AND v.belong_album_id =${belongAlbumId} 
			   </if>
			   <if test="cpName != null and cpName !=''">
			   	  AND s.partner_id = #{cpName}
			   </if>
		<if test="pageIndex != null and pageSize != null">
		LIMIT #{ pageIndex }, #{ pageSize }
		</if>
	</select>
	<select id="getPageCount" parameterType="cn.com.hiveview.launcherapi.module.portal.condition.MergeVideoData" resultType="Integer" >
		select count(distinct v.video_id) from new_merge_video_data v left join new_merge_album_data a on v.belong_album_id = a.album_id left join new_merge_videosource_data s on s.belong_video_id = v.video_id
		WHERE
				v.is_effective =1
        		<if test="videoName != null and videoName != ''">
				  AND v.video_name like CONCAT('%','${videoName}','%' )
			   </if>
			   <if test="belongAlbumId != null">
				  AND v.belong_album_id =${belongAlbumId} 
			   </if>
			   <if test="cpName != null and cpName !=''">
			   	  AND s.partner_id = #{cpName}
			   </if>
	</select>
</mapper>